.hackinfinity-section {
    background-color: black;
    padding-top: 20vh;
    font-family: 'Raleway';
}

.hi-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10vh;
}

.hi-title-line {
    height: 1px;
    width: 50%;
    background-color: orange;
}

.hi-title {
    font-size: 50px;
    letter-spacing: 5px;
    margin: 0 3%;
    font-family: 'Arvo', serif;
    color: white;
    text-align: center;
}

.hi-about {
    display: flex;
    flex-direction: column;
}

.hi-about-para {
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: "Cabin";
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.hi-link {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
}

.hi-button {
    background-color: orange;
    border: 2px solid orange;
    font-size: 20px;
    font-family: "Cabin";
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    width: max-content;
}

.hi-button:hover {
    border: 2px solid white;
    color: black;
}

.hi-sub-title {
    font-size: 35px;
    font-family: "Cabin";
    color: white;
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 7vh;
}

.hi-domains-section {
    padding: 0 6vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hi-domain-preview {
    display: flex;
    width: 50%;
    padding: 0 4vw 4vw;
}

.hi-domain-icon {
    width: 50px;
    height: min-content;
    max-height: 65px;
    margin-right: 20px;
}

.hi-domain-title {
    margin: 0 0 20px;
    color: white;
    font-size: 26px;
    font-family: "Cabin";
}

.hi-domain-para {
    color: white;
    font-size: 16px;
    font-style: italic;
    font-family: "Cabin";
}

.hi-details-section {
    padding: 0 10vw;
    display: flex;
}

.hi-details-left {
    width: 50%;
    padding: 0  4vw;
}

.hi-details-right {
    width: 50%;
    padding: 0  8vw;
}

.hi-date-title {
    color: orange;
    font-size: 26px;
    font-family: "Cabin";
    text-align: center;
    margin-top: 0px;
}

.hi-details-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.hi-details {
    color: white;
    font-size: 22px;
    font-family: "Cabin";
    text-align: center;
    margin: 0 0 10px;
}

.hi-white-line {
    background-color: white;
    width: 1px;
}

.hi-align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

.hi-details-event {
    color: white;
    font-size: 22px;
    font-family: "Cabin";
    text-align: start;
    margin: 0 0 10px;
}

.hi-details-time {
    color: white;
    font-size: 22px;
    font-family: "Cabin";
    text-align: end;
    margin: 0 0 10px;
}

.hi-details-icon {
    text-align: center;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.hi-prize-section {
    display: flex;
    justify-content: space-evenly;
}

.hi-instructions-section {
    display: flex;
    justify-content: center;
    padding: 0 10vw;
}



@media (max-width: 900px) {

    .hi-header {
        margin-bottom: 8vh;
    }
    
    .hi-title {
        font-size: 32px;
        letter-spacing: 2px;
    }

    .hi-about-para {
        font-size: 16px;
        width: 90%;
    }

    .hi-button {
        font-size: 18px;
        margin-top: 4vh;
    }

    .hi-sub-title {
        font-size: 24px;
        margin-top: 12vh;
        margin-bottom: 6vh;
    }

    .hi-domains-section {
        padding: 0 8vw;
        flex-direction: column;
    }

    .hi-domain-preview {
        display: flex;
        width: 100%;
        margin-bottom: 30px;
        padding-right: 0;
    }

    .hi-domain-title {
        margin: 0 0 15px;
        font-size: 22px;
    }
    
    .hi-domain-para {
        font-size: 16px;
    }

    .hi-details-section {
        padding: 0 8vw;
        flex-direction: column;
    }

    .hi-details-left {
        width: 100%;
        padding: 0;
    }
    
    .hi-details-right {
        width: 100%;
    }

    .hi-date-title {
        font-size: 18px;
    }
    
    .hi-details-container {
        margin-bottom: 20px;
    }
    
    .hi-details {
        font-size: 16px;
    }

    .hi-details-event {
        font-size: 14px;
        margin: 0 0 10px;
    }
    
    .hi-details-time {
        font-size: 14px;
        margin: 0 0 10px;
    }

    .hi-white-line {
        background-color: white;
        height: 1px;
        width: 100%;
        margin-bottom: 40px;
    }

    .hi-prize-section {
        flex-direction: column;
    }

    .hi-instructions-section {
        padding: 0 6vw;
    }
}