:root {
  --primary: #000;
  --secondary: #fff;
  --disabled: #777;
  --tertiary: #b7b7b7;
  --bubble: #333;

  --bigtitle-big: 68px;
  --bigtitle-medium: 52px;
  --bigtitle-small: 36px;

  --body1-big: 24px;
  --body1-medium: 18px;
  --body1-small: 16px;

  --body2-big: 18px;
  --body2-medium: 14px;
  --body2-small: 10px;

  --body3-big: 14px;
  --body3-medium: 10px;
  --body3-small: 8px;

  --nav-big: 16px;
  --nav-medium: 12px;
  --nav-small: 8px;

  --small-breakpoint: 576px;
  --medium-breakpoint: 1000px;

  --padding-v-big: 3vh;
  --padding-h-big: 3vw;

  --padding-v-medium: 3vh;
  --padding-h-medium: 3vw;

  --padding-v-small: 5vh;
  --padding-h-small: 8vw;
}

a {
  text-decoration: none;
  color: white;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

body {
  padding: var(--padding-v-big) var(--padding-h-big);
  font-family: "Raleway";
  line-height: none;
}

.title {
  text-align: center;
  font-size: var(--bigtitle-big);
  display: block;
  color: var(--tertiary);
  padding: 10vh 0;
  animation: title-intro 1s ease-in-out;
}

.title-span {
  position: relative;
  color: white;
}

.title-span::after {
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  position: absolute;
  left: 65%;
  z-index: -99;
  top: -10%;
  background-color: rgb(39, 39, 39);
}

/* GENERAL DESIGN */

.primary-button {
  border: 1px solid white;
  background-color: black;
  color: white;
  font-weight: 500;
  padding: 10px 15px;
  font-size: var(--body2-big);
  font-family: "Raleway";
}

.primary-button:hover {
  border: 1px solid #b7b7b7;
  background-color: white;
  color: black;
}

.primary-button:hover a {
  border: 1px solid #b7b7b7;
  background-color: white;
  color: black;
  border: none;
}

/* GENERAL DESIGN END */

.carousel {
  display: flex;
  align-items: center;
  animation: content-intro 2s ease-in-out;
}
.slide-left {
  height: 10vh;
  display: none;
}
.slide-right {
  height: 10vh;
  display: none;
}

.event {
  padding: 0 12vw;
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
}

.right-content {
  padding: 0 0 0 20px;
  color: white;
}
.event-title {
  font-family: "Open Sans";
  text-transform: uppercase;
  font-size: var(--body1-big);
}

.event-info {
  padding: 10px 0 20px 0;
  font-weight: 300;
  font-size: var(--body2-big);
}

.event-img {
  height: 26vw;
  width: 26vw;
  border: 1px solid wheat;
}

@media only screen and (max-width: 576px) {
  body {
    padding: var(--padding-v-small) var(--padding-h-small);
  }

  .title {
    font-size: var(--bigtitle-small);
  }

  .event {
    flex-direction: column;
    align-items: center;
  }

  .event-title {
    font-size: var(--body1-small);
  }

  .event-img {
    height: 50vw;
    width: 50vw;
    border: 1px solid wheat;
  }

  .slide-left {
    height: 20vh;
  }
  .slide-right {
    height: 20vh;
  }

  .right-content {
    padding: 5vh 0;
    text-align: center;
  }

  .event-info {
    font-size: var(--body2-small);
  }

  .primary-button {
    font-size: var(--body2-small);
  }
}

@media only screen and (max-width: 1000px) {
  .title {
    font-size: var(--bigtitle-medium);
  }

  .event-title {
    font-size: var(--body1-medium);
  }

  .event-info {
    font-size: var(--body2-medium);
  }

  .primary-button {
    font-size: var(--body2-medium);
  }
}

/* Animations */

@keyframes title-intro {
  0% {
    opacity: 0;
    position: relative;
    top: 0px;
    left: -50vw;
  }

  100% {
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
}

@keyframes content-intro {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
