.modal-box {
  width: 100vw;
  padding: 5px 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #86F3E6;
  border-top: 1px solid black;
}

.modal-contents {
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  color: black;
  margin: 5px;
  font-family: "Allura";
}

@media (max-width: 650px) {
  .modal-contents {
    font-size: 20px;
  }
}