.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}

.hover{
	color:#777;
	background:#f8f8f8;
}

.navbar-link-style{
  color: #aaa;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Raleway';
}

.navbar-link-style:link{
  text-decoration: none;
}

.navbar-link-style:visited{
  color: #aaa;
  text-decoration: none;
}

.navbar-link-style:hover{
  color: white;
  text-decoration: none;
}

.navbar-link-style:active{
  color: #aaa;
  text-decoration: none;
}








.navbar-link-style-active{
  color: white;
  padding-left: 10px;
  font-size: 18px;
  font-family: 'Raleway';
  font-weight: 400;
}

.navbar-link-style-active:link{
  text-decoration: none;
}

.navbar-link-style-active:visited{
  color: white;
  text-decoration: none;
}

.navbar-link-style-active:hover{
  color: white;
  text-decoration: none;
}

.navbar-link-style-active:active{
  color: white;
  text-decoration: none;
}