body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", "Lato", "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  overflow-x: hidden;
}

.container{
  padding: 0;
  margin: 0;
  width: 100%
}

.col-lg-5, .col-sm-5{
    padding-bottom: 100%;
    margin-bottom: -100%;
}

.row {
    overflow: hidden;
}

.aboutUsStyle {
  text-align: center;
  color: white;
  padding-top: 70px;
}

.teamStyle {
  text-align: center;
  background: #CCC;
  color: #333;
  padding-top: 50px;
}

.teamImg {
  width: 150px;
  height: 150px;
}

.teamStyle a{
  color:white;
  font-weight: bold;
  text-decoration: none;
}

.teamStyle a:visited{
  color:black;
  font-weight: bold;
  text-decoration: none;
}

.teamStyle a:hover {
  color:red;
  font-weight: bold;
  text-decoration: none;
}

.teamStyle a:active{
  color:white;
  font-weight: bold;
  text-decoration: none;
}

.sessionsHeader {
  color: white;
  background: #333;
  text-align: center;
  font-family: "Cabin";
  height: auto;
}

.sessionsStyle {
  color: #333;
  background: #ccc;
  font-family: "Ubuntu";
}

.sessionsStyle h1{
  color: #333;
  text-align: center;
  font-family: "Cabin";
}


/*
.sessionsStyle {
  color: #333;
  background: #f8f8f8;
  font-family: "Ubuntu";
}

.sessionsStyle h1{
  color: #333;
  text-align: center;
  font-family: "Cabin";
}

.sessionsStyle a {
  color:black;
  font-weight: bold;
  text-decoration: none;
}

.sessionsStyle a:visited {
  color:black;
  font-weight: bold;
  text-decoration: none;
}

.sessionsStyle a:hover {
  color:red;
  font-weight: bold;
  text-decoration: none;
}

.sessionsStyle a:active {
  color:black;
  font-weight: bold;
  text-decoration: none;
}
*/

.newsStyle {
  color: #BBB;
  text-align: left;
  background: black;
}

.newsStyle h1{
  color: #BBB;
  text-align: center;
  font-family: "Cabin";
}

.newsStyle a{
  color:white;
  font-weight: bold;
  text-decoration: none;
}

.newsStyle a:visited{
  color:white;
  font-weight: bold;
  text-decoration: none;
}

.newsStyle a:hover {
  color:red;
  font-weight: bold;
  text-decoration: none;
}

.newsStyle a:active{
  color:white;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 768px) {
  .col-lg-5, .col-sm-5 {
    padding-bottom: 10px;
    padding-top: 7px;
    margin-bottom: 10px;
  }
}