body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", "Lato", "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  overflow-x: hidden;
}

.loader {
  border-top: 4px solid orange; /* Blue */
  border-right: 4px solid #333; /* Blue */
  border-bottom: 4px solid orange; /* Blue */
  border-left: 4px solid #333; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.5s linear infinite
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container{
  padding: 0;
  margin: 0;
  width: 100%
}

.col-lg-6, .col-md-6, .col-sm-6{
    padding-bottom: 100%;
    margin-bottom: -100%;
}

.navbar-link-style{
  color: #aaa;
  padding-left: 10px;
}

.navbar-link-style:hover{
  color: white;
  text-decoration: none;
}

.row {
    overflow: hidden;
}

.aboutUsStyle {
  text-align: center;
  background: #CCC;
  color: #333;
  padding-top: 30px;
  height: auto;
  border: 3px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0px;
}

.aboutContainer {
  position: relative;
  text-align: center;
  color: black;
}

.aboutHeading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aboutImg{
  max-width: 100%;
  width: auto;
  height: auto;
  opacity: 0.5;
}

.teamStyle {
  text-align: center;
  background: #CCC;
  color: #333;
  padding-top: 50px;
  height: 100%;
  border: 3px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0px;
}

.teamImg {
  width: 150px;
  height: 150px;
}

.teamStyle a{
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.teamStyle a:visited{
  color:black;
  font-weight: bold;
  text-decoration: underline;
}

.teamStyle a:hover {
  color:orange;
  font-weight: bold;
  text-decoration: underline;
}

.teamStyle a:active{
  color:black;
  font-weight: bold;
  text-decoration: none;
}

.sessionsHeader {
  color: white;
  background: #333;
  text-align: center;
  font-family: "Cabin";
}

.sessionsStyle {
  color: #333;
  background: #ccc;
  font-family: "Ubuntu";
}

.sessionsStyle h1{
  color: #333;
  text-align: center;
  font-family: "Cabin"; 
}

/*
.sessionsStyle {
  color: #333;
  background: #f8f8f8;
  font-family: "Ubuntu";
}

.sessionsStyle h1{
  color: #333;
  text-align: center;
  font-family: "Cabin";
}

.sessionsStyle a {
  color:black;
  font-weight: bold;
  text-decoration: none;
}

.sessionsStyle a:visited {
  color:black;
  font-weight: bold;
  text-decoration: none;
}

.sessionsStyle a:hover {
  color:red;
  font-weight: bold;
  text-decoration: none;
}

.sessionsStyle a:active {
  color:black;
  font-weight: bold;
  text-decoration: none;
}
*/

.newsStyle {
  color: #BBB;
  text-align: left;
  background: black;
}

.newsStyle h1{
  color: #BBB;
  text-align: center;
  font-family: "Cabin";
}

.newsStyle a{
  color:white;
  font-weight: bold;
  text-decoration: none;
}

.newsStyle a:visited{
  color:white;
  font-weight: bold;
  text-decoration: none;
}

.newsStyle a:hover {
  color:red;
  font-weight: bold;
  text-decoration: none;
}

.newsStyle a:active{
  color:white;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 768px) {
  .col-lg-6, .col-md-6, .col-sm-6 {
    padding-bottom: 10px;
    padding-top: 7px;
    margin-bottom: 0px;
  }
}